In [17]:
# string take akta list akare dekhate chila exampol


List =[]
for i in x:
    List.append(i)
print(List)

['A', 'z', 'i', 'm', 'u', 'l']

In [28]:
k = 'Azimul'
List2 =[List2 for List2 in k]   
print(List2)

['A', 'z', 'i', 'm', 'u', 'l']

In [30]:

Number = [1,2,3,4,5,6,7,8,9,10]
List3 = []
for i in Number:
    List3.append(i)
print(List3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
number = [1,2,3,4,5,6,7,8,9,10]
List4 = [number for number in range(0,5)]
print(List4)

[0, 1, 2, 3, 4]

In [51]:


nUmber = [1,2,3,4,5,6,7,8,9,10]

myList = [i for i in nUmber if i%2==0  and  i>5 <i-1]
print( myList)

[8, 10]

In [3]:
## ami jodi ay khen else us korta chi thoel tar exampol

xNumber = [ 0,1,2,3,4,5,6,7,8,9,10]
mList =[ 'alon' if xNumber%2==0 else 'dabol'for xNumber in xNumber]
print(mList)

['alon', 'dabol', 'alon', 'dabol', 'alon', 'dabol', 'alon', 'dabol', 'alon', 'dabol', 'alon']

In [4]:
name = input('Enter a name')
lohar = name.lower()
convert = lohar.reverse()

In [ ]:


listViews = [('tapule','list',{name:'azimul' ,rell:0})]