In [4]:
# boolian deta type for python


x = (10==10) # doolian deta type dabol equal many defult babe tree false counte korba, jodi 2 ta valou sotto hoy hole dabol equal a turee retan korba ar jodi akta false ar akta ture hoy thoele false retan korba

print(x);


c = 10==15;

print(c)

type(c)


#alhamdulla bujta prlam

True
False

bool

In [2]:
type(x)

bool

In [17]:
#boolean deta type ar exampol 

# gretar equal >= 

y =  (5 >= 5)  # ture    # getar dan equal a  2 ta valou jodi same hoy thole ture hobe ar akta valou jodi false hoy se folse retan korba


x =  (6 >= 5)  # true    ar karon hocce 5 / ar take 6 boro


x =  (4 >= 5) # false    asba karon 5 ar thke false choto

print(y)

print(x)



# les equal <., =>


v =  5 <= 5 # false   #  lesden ar khatr se dutai true pela se flse rtan korba 

print(v)

v2 = 6 <= 5 # false  



print(v2)


v3 = 4 <= 5  # true

print(v3)








# gretardan >



a = (4 > 5 ) # false
b = (5 > 5) # false 
c =( 6 > 5) # true


print(a)

print(b)

print(c)


# lesdan <



a = (4 < 5 ) # true
b = (5 < 5) # ture 
c =( 6 < 5) # false


print(a)

print(b)

print(c)



# not equal  =! 



a = (4 != 5 ) # true
b = (5 != 5) # false  
c =( 6 != 5) # true


print(a)

print(b)

print(c)





w = "Azimulislass"<"Ksimjobab" # str a kahte charect guolo folo kore ( a > b  false  a > a false b > a ture // lesden ar khata ar hulto ta  )

print(w)


# is not

True
False
True
False
True
False
False
True
True
False
False
True
False
True
True

In [22]:
# condisonal 

x = input()

if  int(x) > 0:
    
    print("Yes")
    
    
else:
    
    print("No")

1
Yes

In [33]:
x = input("Enatr a age: ")

if  int(x) >= 18:
    
    print("Sussessfull your age",x)
    
    
    
else : 
    
    print("Not match your age",x)






    
    
y = input("Enter a age : ")


if float(y) > 0: 
    
    
    print("Yes" )
    
else:  
        
    print("No")

Enatr a age: 1
Not match your age 1
Enter a age : 1
Yes

In [36]:
 

x = input("Enter a number")


if int(x)%2== 0:

    print("Evan")
    
else:
    
    print("Odd")

Enter a number9
Odd