In [4]:

i = 0

while i <10:

    print(i, " hello banladesh ")
    
    i = i + 1

0  hello banladesh
1  hello banladesh
2  hello banladesh
3  hello banladesh
4  hello banladesh
5  hello banladesh
6  hello banladesh
7  hello banladesh
8  hello banladesh
9  hello banladesh

In [6]:

i = 0

while i <10:

    print(i + 1, " hello banladesh ")
    
    i = i + 1

1  hello banladesh
2  hello banladesh
3  hello banladesh
4  hello banladesh
5  hello banladesh
6  hello banladesh
7  hello banladesh
8  hello banladesh
9  hello banladesh
10  hello banladesh

In [7]:

i = 1

while i <10:

    print(i , " hello banladesh ")
    
    i = i + 1

1  hello banladesh
2  hello banladesh
3  hello banladesh
4  hello banladesh
5  hello banladesh
6  hello banladesh
7  hello banladesh
8  hello banladesh
9  hello banladesh

In [22]:
i = 1
while i <10:
    
    if i == 6:
        break 
    print(i , " hello banladesh ")  
    i = i + 1

1  hello banladesh
2  hello banladesh
3  hello banladesh
4  hello banladesh
5  hello banladesh

In [12]:
i = 0
while i <10:
    i = i + 1  
    if i == 6:
        continue
    print(i , " hello banladesh ")

1  hello banladesh
2  hello banladesh
3  hello banladesh
4  hello banladesh
5  hello banladesh
7  hello banladesh
8  hello banladesh
9  hello banladesh
10  hello banladesh